<div class='mt-4'>
  <h2>Remove courses</h2>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Name</th>
        <th scope='col'>Level</th>
        <th scope='col'>Time create</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope='row'>{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href='' class='btn btn-link btn-restore' data-bs-id='{{this._id}}'>
            Restore
          </a>
          <a href='' class='btn btn-link' data-bs-toggle='modal' data-bs-target='#delete-course-modal'
            data-bs-id='{{this._id}}'>
            Delete
          </a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan='5' class='text-center'>
          No courses have been deleted.
        </td>
      </tr>

      {{/each}}
    </tbody>
  </table>
</div>

{{! Delete course modal }}

<div id='delete-course-modal' class='modal' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Delete course?</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <p>This course will be permanently deleted. Do you want to continue?</p>
      </div>
      <div class='modal-footer'>
        <button id='btn-delete-course' type='button' class='btn btn-danger'>
          Confirm
        </button>
        <button id='btn-restore-course' type='button' class='btn btn-secondary' data-bs-dismiss='modal'>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<form name='deleteCourseForm' method='POST'></form>
<form name='restoreCourseForm' method='POST'></form>


<script>
  var courseId;
  var deleteForm = document.forms['deleteCourseForm']
  var restoreForm = document.forms['restoreCourseForm']

  var deleteCourseModal = document.getElementById('delete-course-modal')
  deleteCourseModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    courseId = button.getAttribute('data-bs-id');
  });

  var btnDeleteCourse = document.getElementById('btn-delete-course');
  btnDeleteCourse.onclick = function () {
    deleteForm.action = '/courses/' + courseId + '/destroy/?_method=DELETE';
    deleteForm.submit()
  };

  var restoreBtn = document.querySelectorAll('.btn-restore')
  restoreBtn.forEach(restoreBtn => {
    restoreBtn.addEventListener('click', function (e) {
      e.preventDefault();
      var courseId = restoreBtn.getAttribute('data-bs-id');
      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit()

    })
  })
</script>